{% load static %}
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'assets/img/my_logo.jpg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="{% url 'index' %}" class="logo d-flex align-items-center justify-content-center">
      <h1 class="sitename">Baxtiyor Tuychiyev </h1>
    </a>

    <div class="social-links text-center">
      <a href="https://t.me/user123446789" target="_blank" class="twitter"><i class="bi bi-telegram"></i></a>
        <span></span>
      <a href="https://wa.me/79505158493" target="_blank" class="facebook"><i class="bi bi-whatsapp"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
          {% if navbar_section %}
            <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
            <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
            <li><a href="#skills"><i class="bi bi-person navicon"></i> Skills</a></li>
            <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
            <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
            <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
          {% else %}
            <li><a href="{% url 'index' %}" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
          {% endif %}
      </ul>
    </nav>

  </header>