{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Portfolio Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Portfolio Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper init-swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                  {% if project.image_main %}
                    <img src="{{ project.image_main.url }}" alt="">
                  {% else %}
                    <img src="{% static 'assets/img/main/default_project_img.png' %}" alt="">
                  {% endif %}
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Project information</h3>
              <ul>
                <li><strong>Name</strong>: {{ project.name }}</li>
                <li><strong>Category</strong>: {{ project.category }}</li>
                <li><strong>Client</strong>: {{ project.client }}</li>
                <li><strong>Project date</strong>: {{ project.project_date }}</li>
                <li><strong>Project URL</strong>: <a href="{{ project.project_url }}" target="_blank">{{ project.project_url }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>Description</h2>
              <p> {{ project.description|linebreaksbr }}</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

{% endblock content %}

